# This is a basic workflow to help you get started with Actions

name: UDP enum

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 5
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2 # v2.3.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - run: nc 1.1.1.1 53
          
    
